
    <link rel="stylesheet" href="css/main.css" />
    


    <div class="section-1">
      <%- include partials/nav.ejs %>
      <div class="heading">Bring Swallowtail Home</div>
      <div class="shop-now-btn">Shop Now</div>
      
    </div>

    <div class="section-2">
      <div class="five-tea-images">
        <div id="image-0">
          <a href="/">
            <h1 class="black-tea-link">black</h1>
          </a>
        </div>
        <div id="image-1">
          <a href="/">
            <h1 class="green-tea-link">green</h1>
          </a>
        </div>
        <div id="image-2">
          <a href="/">
            <h1 class="white-tea-link">white</h1>
          </a>
        </div>
        <div id="image-3">
          <a href="/">
            <h1 class="tisanes-tea-link">tisanes</h1>
          </a>
        </div>
        <div id="image-4">
          <a href="/">
            <h1 class="blends-tea-link">blends</h1>
          </a>
        </div>
      </div>

      <div class="shop-now-grid">
        <div id="shop-grid-0">
          <h1 class="shop-now-0">shop now</h1>
          <h1 class="title-0">teas</h1>
        </div>

        <div id="shop-grid-1">
          <h1 class="shop-now-1">shop now</h1>
          <h1 class="title-1">mearch</h1>
        </div>

        <div id="shop-grid-2">
          <h1 class="shop-now-2">shop now</h1>
          <h1 class="title-2">wares</h1>
        </div>
      </div>
    </div>

    <div class="section-3">
      <div class="Join">
       <div class="join-btn">Join</div>
 
      </div>

    </div>

    <script src="js/main.js"></script>

