<header class="header">
	<div class="header_box_container">
		<button class="button1">Click Me!</button>
		<a href="a" class="nav">
			<div class="one"></div>
			<div class="two"></div>
			<div class="three"></div>
		</a>
	</div>
</header>
<div class="section_1">
	<button class="button2">Llegada</button>
	<button class="button3">Salida</button>
	<button class="button4">Huespedes</button>
	<button class="button5">Ver disponibilidad</button>


</div>

<div class="section_2">
	
</div>

<div class="section_3">
	
</div>

<div class="section_4">
	
</div>

<div class="section_5">
	
</div>
<script src="javaScript/main.js"></script>
<script src="javaScript/api.js"></script>