<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/nav.css" />

<div class="section-1">
  <%- include ('partials/nav') %>
  <div class="heading">Bring Swallowtail Home</div>
  <div class="shop-now-btn">Shop Now</div>
</div>

<div class="section-2">
  <div class="five-tea-images">
    <% let tea_types=["black", "green" , "white" , "tisanes" , "blends" ]; %> <%
    for(let i=0;i<5;i++){ %> <%- include('partials/tea',
    {i:i,tea_type:tea_types[i]}) %> <% } %>
  </div>

  <div class="shop-now-grid">
    <div id="shop-grid-0">
      <h1 class="shop-now-0">shop now</h1>
      <h1 class="title-0">teas</h1>
    </div>

    <div id="shop-grid-1">
      <h1 class="shop-now-1">shop now</h1>
      <h1 class="title-1">mearch</h1>
    </div>

    <div id="shop-grid-2">
      <h1 class="shop-now-2">shop now</h1>
      <h1 class="title-2">wares</h1>
    </div>
  </div>
</div>

<div class="section-3">
  <div class="join-right-side">
    <div class="join-btn">Join</div>
    <h3 class="text-join-left">Sign up and get 10% off your first purchase.</h3>
    
    <form class="form" action="/">
      <input
        class="input"
        placeholder="Your email address..."
        type="email"
        name="EMAIL"
      />
    </form>
  </div>

  <div class="join-left-side">
    <h2 class="heading_section_3">Swallowtail Tea</h2>
    <h3 class="description">
      Swallowtail Tea is a Virginia-based tea company sourcing only the highest
      quality tea, herbs, and spices from around the world.
    </h3>
  </div>
</div>

<div class="section-4">

  <div class="Top-Grid">

    <div class="one">
      <h3>Shop</h3>
      <h3>terms of service</h3>
    </div>
    <div class="two">
      <h3>company</h3>
      <h3>Refund policy</h3>
    </div>
    <div class="three"><h3>account</h3></div>
    <div class="four"><h3>legal</h3></div>
    
</div>
<hr>
<div class="Bottom-Grid">
    <div class="five">
      <ul class="List-Five">
        <li class="link-1"><a href="#">all</a></li>
        <li class="link-2"><a href="#">Tea</a></li>
        <li class="link-3"><a href="#">Merch</a></li>
        <li class="link-4"><a href="#">Brew Wares</a></li>
      </ul>
    </div>
    <div class="six">
      <ul class="List-Six">
        <li class="link-5"><a href="#">Wholesale</a></li>
        <li class="link-6"><a href="#">About Us</a></li>
        <li class="link-7"><a href="#">Contact</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="seven">
      <ul class="List-Seven">
        <li class="link-8"><a href="#">my orders</a></li>
        <li class="link-9"><a href="#">sign up</a></li>
      </ul>
    </div>
    <div class="eight">
      <ul class="List-Eight">
        <li class="link-9"><a href="#">terms & conditions</a></li>
        <li class="link-10"><a href="#">privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="js/main.js"></script>
