/* use # for sclecting IDs and use . for classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{   }


.section-1{
   z-index: 100;
   background: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/white_gywan_2400x.jpg?v=1551770466&auto=format&q=50&);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100%;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   
}

.heading{
   font-size: 80px;
   position: relative;
   top: 45%;
   text-align: center;
}
.shop-now-btn{
   font-size: 16px;
   text-transform: uppercase;
   font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    border: 2px solid #bfc5c7;
    padding: 9px 20px 7px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;


}
 .navgrid {
   
   transform: translate(0px, -130px);
    display: grid; 
    justify-items: stretch;
    align-items: stretch;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100px;
    border: 1px solid #bfc5c7;
    position: relative;
    top: 0%;
    
    
    font-size: 16px;
    
    
 }
   
 #item-0 {
    align-content: center;  /* this line aligns content vertically (up and down) */
    justify-content: center; /* this line aligns content horizontally (left anmd right) */
    display: grid;
   grid-row-start: 1;
   grid-column-start: 1;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 3;;
    
 }
 #item-0 .logo{
   width: 100%;
  
}
 #item-1 {
   align-content: center;  /* this line aligns content vertically (up and down) */
    justify-content: center; /* this line aligns content horizontally (left anmd right) */
   grid-row-start: 1;
   grid-column-start: 3;
   max-width: 100%;
   overflow:hidden ;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 5;
   
    
 }
 #item-1 .background{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center
    
 }

 #item-1 .background .p{
   
   
 
}

 #item-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 1;
   grid-column-start: 5;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 7;
    
 }

 #item-2 .tea_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    
 }

 #item-3 {
   display: flex;
   justify-content: center;
   align-items: center; 
   grid-row-start: 2;
   grid-column-start: 5;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 7;
    
 }

 
 #item-3 .merch_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;

 }

 #item-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 1;
   grid-column-start: 7;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 9;
    
 }

 #item-4 .brew_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;

 }
 #item-5 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 2;
   grid-column-start: 7;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 9;
    
 }

 #item-5 .about_link {
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;

 }
 #item-6 {
   display: flex;
   justify-content: center;
   align-items: center; 
   grid-row-start: 1;
   grid-column-start: 9;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 11;
    
 }

 #item-6 .cart_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;

 }

 #item-7{
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 2;
   grid-column-start: 9;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 11;
 }

 #item-7 .wholesale_link{
   text-transform: uppercase;
   font-family: GT Pressura Mono,Roboto Mono,monospace;
   color: black;

}