/* use # for sclecting IDs and use . for classes */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{ 
   max-height: 100%;
   width: auto;
  }


.section-1{
   z-index: 100;
   background-image: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/white_gywan_2400x.jpg?v=1551770466&auto=format&q=50&);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100vh;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   animation: slideBg 8s linear infinite 0s;
   animation-timing-function: ease-in-out;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

@keyframes slideBg  {
   0% {
      background-image:url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/white_gywan_2400x.jpg?v=1551770466&auto=format&q=50&)
   }

   33% {
      background-image:url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/swatch-hero_2400x.jpg?v=1558564563&auto=format&q=50&)
   }

   100% {
      background-image:url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/last-slide_2400x.jpg?v=1551770643&auto=format&q=50&)
   }
}

.heading{
   font-size: 80px;
   text-align: center;
   margin: 10%;
}
.shop-now-btn{
   font-size: 16px;
   text-transform: uppercase;
   font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    border: 2px solid #bfc5c7;
    padding: 9px 20px 7px ;
    font-weight: bold;
    margin-bottom: auto;
    width: fit-content;


}
 .navgrid {
   
   
    display: grid; 
    
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: (10, 1fr) ; /*might need to take out*/
    height: 100px;
    border: 1px solid #bfc5c7;
    font-size: 16px;
    width: 70%;
    margin-bottom: auto;
    
    
    
    
    
 }
   
 #item-0 {
    align-content: center;  /* this line aligns content vertically (up and down) */
    justify-content: center; /* this line aligns content horizontally (left anmd right) */
    display: grid;
   grid-row-start: 1;
   grid-column-start: 1;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 3;;
    
 }
 #item-0 .logo{
   width: 100%;
  
}
 #item-1 {
   align-content: center;  /* this line aligns content vertically (up and down) */
   justify-content: center; /* this line aligns content horizontally (left anmd right) */
   grid-row-start: 1;
   grid-column-start: 3;
   max-width: 100%;
   overflow:hidden ;
   grid-row-end: 3;
   grid-column-end: 5;
   
    
 }
 #item-1 .background{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;
    
 }



 #item-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 1;
   grid-column-start: 5;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 7;
    
 }

 #item-2 .tea_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;
    
 }

 #item-3 {
   display: flex;
   justify-content: center;
   align-items: center; 
   grid-row-start: 2;
   grid-column-start: 5;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 7;
    
 }

 
 #item-3 .merch_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }

 #item-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 1;
   grid-column-start: 7;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 9;
    
 }

 #item-4 .brew_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }
 #item-5 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 2;
   grid-column-start: 7;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 9;
    
 }

 #item-5 .about_link {
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }
 #item-6 {
   display: flex;
   justify-content: center;
   align-items: center; 
   grid-row-start: 1;
   grid-column-start: 9;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 11;
    
 }

 #item-6 .cart_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }

 #item-7{
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 2;
   grid-column-start: 9;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 11;
 }

 #item-7 .wholesale_link{
   text-transform: uppercase;
   font-family: GT Pressura Mono,Roboto Mono,monospace;
   color: black;
   text-align: center;
    font-size: 20px;

}
.section-2{
   position: relative;
   
   height: 900px;
   top: 959px;
}

.five-tea-images {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: (5, 1fr );
   max-width: 1800px;
   max-height: 300px;
   height: 100%;

   padding-bottom: 40px;
   padding-top: 40px;
   margin: auto;
   grid-column-gap:5px ;
   position: relative;
   
}
  
#image-0 {

   background: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/black_ad4be5cb-6a95-484a-bb94-2239b1a929ec_400x400_crop_center.png?v=1526857313&auto=format&q=50&); 
   background-position: center;
   background-repeat: no-repeat;
    max-width:auto;
   max-height:auto;
   background-size: contain;
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 2;
   justify-content: center;
   align-items: center;
   
}
#image-0 .black-tea-link{
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    text-align: center;
    top: 50%;;
    font-size: 20px;
}
#image-1 {

   background: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/green_185f8bdd-cab4-49e0-bedf-b28cdf516b0a_400x400_crop_center.png?v=1526857011&auto=format&q=50&); 
   grid-row-end: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-column-start: 2;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
   background-size: contain;
   max-width:auto;
   max-height:auto
   




   

}

#image-1 .green-tea-link{
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    text-align: center;;
    top: 50%;;
    font-size: 20px;
}
#image-2 {

   background: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/white_759d97b9-d4b2-48d2-882f-0d1b9ccff0ab_400x400_crop_center.png?v=1526857136&auto=format&q=50&); 
    grid-row-end: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-column-start: 3;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
   background-size: contain;
   max-width:auto;
   max-height:auto
  



   
}

#image-2 .white-tea-link{
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    text-align: center;;
    top: 50%;;
    font-size: 20px;
}
#image-3 {

   background: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/white_759d97b9-d4b2-48d2-882f-0d1b9ccff0ab_400x400_crop_center.png?v=1526857136&auto=format&q=50&); 
   grid-row-end: 2;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-column-start: 4;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
   background-size: contain;
   max-width:auto;
   max-height:auto
   
}

#image-3 .tisanes-tea-link{
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    text-align: center;;
    top: 50%;;
    font-size: 20px;
}

#image-4 {

   background: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/blend_400x400_crop_center.png?v=1526857239&auto=format&q=50&); 
   grid-row-end: 2;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-column-start: 5;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
   background-size: contain;
   max-width:auto;
   max-height:auto
   
   
}

#image-4 .blends-tea-link{
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    text-align: center;;
    top: 50%;;
    font-size: 20px;

}



.shop-now-grid {
   display: grid; 
   position: relative;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   max-height: 500px;
   max-width: 1700px;
   height: 100%;
   padding-left: 10%;
   padding-right: 10%;
   margin: auto;
   grid-column-gap: 5%;

}
  
#shop-grid-0 {

   background-image: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/about_values_f13f2034-9acd-41df-a7a3-2cae150c79ac_650x.jpg?v=1526915323&auto=format&q=50&); 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 2;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
   background-size: cover; /* cover is up and down contain is width */
   max-width:auto;
   max-height:auto;
 

   
}

#shop-grid-0 .shop-now-0 {
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    top: 60%;
    text-align: center;
    font-size: 20px;

}

#shop-grid-0 .title-0 {
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    text-align: center;;
    top: 50%;;
    font-size: 20px;

}

#shop-grid-1 {

   background-image: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/DSC07022_650x.jpg?v=1526856532&auto=format&q=50&);
   grid-row-start: 1;
   grid-column-start: 2;
   grid-row-end: 2;
   grid-column-end: 3;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
   background-size: cover;
   max-width:auto;
   max-height:auto;
   
}

#shop-grid-1 .shop-now-1 {
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    top: 60%;
    text-align: center;
    font-size: 20px;

}

#shop-grid-1 .title-1 {
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    top: 50%;
    text-align: center;
    font-size: 20px;

}

#shop-grid-2 {

   background-image: url(https://swallowtailtea.imgix.net/s/files/1/2960/1850/files/home_brew_wares_650x.jpg?v=1526915416&auto=format&q=50&); 
   grid-row-start: 1;
   grid-column-start: 3;
   grid-row-end: 2;
   grid-column-end: 4;
   background-position: center;
   background-repeat: no-repeat;
   background-size: auto;
   position: relative;
   background-size: cover;
   max-width:auto;
   max-height:auto;
   
   
}

#shop-grid-2 .shop-now-2 {
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    top: 60%;
    text-align: center;
    font-size: 20px;

}

#shop-grid-2 .title-2 {
   text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: white;
    position:relative;
    top: 50%;
    text-align: center;
    font-size: 20px;

}

.section-3{
   position: relative;
   background-color: white;
   height: 800px;
   top: 959px;
}

.Join{
   position: relative;
   z-index: 300;
   height: 100px;
   padding: 30px;
   background-color: #F5F5F1;
   
}

.join-btn{
   position: absolute;
   font-size: 16px;
   text-transform: uppercase;
   font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    border: 2px solid #bfc5c7;
    padding: 9px 20px 7px ;
    font-weight: bold;
    margin-left: 50%;


    width: fit-content;
    align-items: center;
   
   
}