.navgrid {


    display: grid;
    outline: 2px solid #bfc5c7;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: (10, 1fr);
    /*might need to take out*/
    height: 100px;
    font-size: 16px;
    width: 70%;
 
 
 }
 
 ol.Iist {
    list-style-type: upper-roman;
  }
 
 #item-0 {
    align-content: center;
    /* this line aligns content vertically (up and down) */
    justify-content: center;
    /* this line aligns content horizontally (left anmd right) */
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    border-right: 2px solid #bfc5c7;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 
 }
 
 #item-0 .logo {
    width: 100%;
 
 }
 
 .item-1 {
    align-content: center;
    /* this line aligns content vertically (up and down) */
    justify-content: center;
    /* this line aligns content horizontally (left anmd right) */
    grid-row-start: 1;
    grid-column-start: 3;
    max-width: 100%;
    overflow: hidden;
    grid-row-end: 3;
    grid-column-end: 5;
    border-right: 2px solid #bfc5c7;
    list-style-type: upper-roman;
    line-height: 24px;
 
 
 
 
 
 
 
 
 
 
 }
 
 .item-1 .background {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }
 
 
 
 #item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 5;
    max-width: 100%;
    overflow: hidden;
    border-right: 2px solid #bfc5c7;
    border-bottom: 2px solid #bfc5c7;
    grid-row-end: 2;
    grid-column-end: 7;
 
 }
 
 #item-2 .tea_link {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }
 
 #item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 5;
    max-width: 100%;
    overflow: hidden;
    border-right: 2px solid #bfc5c7;
    grid-row-end: 3;
    grid-column-end: 7;
 
 }
 
 
 #item-3 .merch_link {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }
 
 #item-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 7;
    max-width: 100%;
    overflow: hidden;
    border-right: 2px solid #bfc5c7;
    border-bottom: 2px solid #bfc5c7;
    ;
    grid-row-end: 2;
    grid-column-end: 9;
 
 }
 
 #item-4 .brew_link {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }
 
 #item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 7;
    max-width: 100%;
    overflow: hidden;
    border-right: 2px solid #bfc5c7;
    grid-row-end: 3;
    grid-column-end: 9;
 
 }
 
 #item-5 .about_link {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }
 
 #item-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 9;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #bfc5c7;
    grid-row-end: 2;
    grid-column-end: 11;
 
 }
 
 #item-6 .cart_link {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }
 
 #item-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 9;
    max-width: 100%;
    overflow: hidden;
 
    grid-row-end: 3;
    grid-column-end: 11;
 }
 
 #item-7 .wholesale_link {
    text-transform: uppercase;
 
    color: black;
    text-align: center;
    font-size: 20px;
 
 }