*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

  
.tea_grid {
    
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    
    margin: auto; 
      

}



.tea {
    
    width: 100%;
    height: 500px;
    background-color: #f5f5f1;
    overflow: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    margin: auto;
}

.image {
    background-repeat: no-repeat;
    margin: 10px;
    height: 100%;
    background-size: cover;
    background-position: center;
    
    
}

.section-1{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 .navgrid {
   
   
    display: grid; 
    
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: (10, 1fr) ; /*might need to take out*/
    height: 100px;
    border: 1px solid #bfc5c7;
    font-size: 16px;
    width: 70%;
    margin-bottom: auto;
    
    
    
    
    
 }
   
 #item-0 {
    align-content: center;  /* this line aligns content vertically (up and down) */
    justify-content: center; /* this line aligns content horizontally (left anmd right) */
    display: grid;
   grid-row-start: 1;
   grid-column-start: 1;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 3;;
    
 }
 #item-0 .logo{
   width: 100%;
  
}
 #item-1 {
   align-content: center;  /* this line aligns content vertically (up and down) */
   justify-content: center; /* this line aligns content horizontally (left anmd right) */
   grid-row-start: 1;
   grid-column-start: 3;
   max-width: 100%;
   overflow:hidden ;
   grid-row-end: 3;
   grid-column-end: 5;
   
    
 }
 #item-1 .background{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;
    
 }



 #item-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 1;
   grid-column-start: 5;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 7;
    
 }

 #item-2 .tea_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;
    
 }

 #item-3 {
   display: flex;
   justify-content: center;
   align-items: center; 
   grid-row-start: 2;
   grid-column-start: 5;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 7;
    
 }

 
 #item-3 .merch_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }

 #item-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 1;
   grid-column-start: 7;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 9;
    
 }

 #item-4 .brew_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }
 #item-5 {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 2;
   grid-column-start: 7;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 9;
    
 }

 #item-5 .about_link {
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }
 #item-6 {
   display: flex;
   justify-content: center;
   align-items: center; 
   grid-row-start: 1;
   grid-column-start: 9;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 2;
   grid-column-end: 11;
    
 }

 #item-6 .cart_link{
    text-transform: uppercase;
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: black;
    text-align: center;
    font-size: 20px;

 }

 #item-7{
   display: flex;
   justify-content: center;
   align-items: center;
   grid-row-start: 2;
   grid-column-start: 9;
   max-width: 100%;
   overflow: hidden;
   border: 1px solid #bfc5c7;
   grid-row-end: 3;
   grid-column-end: 11;
 }

 #item-7 .wholesale_link{
   text-transform: uppercase;
   font-family: GT Pressura Mono,Roboto Mono,monospace;
   color: black;
   text-align: center;
    font-size: 20px;

}